@use 'sass:map';
@use '@angular/material' as mat;

$_light-palettes: (
  primary: (
    0: #000000,
    10: #1c1200,   // deep dark brown (almost black)
    20: #382400,   // dark bronze
    25: #503400,   // bronze
    30: #6a4300,
    35: #7f5200,
    40: #966200,
    50: #b07a00,
    60: #c9951a,
    70: #e6b531,
    80: #f6d77a,
    90: #ffebc8,
    95: #fff6e6,
    98: #fffaf0,
    99: #fffdf7,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #0f1213,   // near-black charcoal
    20: #1b2022,
    25: #24282b,
    30: #2f3538,
    35: #3a4043,
    40: #464c4f,
    50: #5a6063,
    60: #717678,
    70: #8b8f91,
    80: #a8acae,
    90: #c6c8c9,
    95: #e8e8e7,
    98: #f6f6f5,
    99: #fbfbfb,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #0b1014,
    20: #1a2026,
    25: #23292f,
    30: #2e343b,
    35: #394046,
    40: #444c52,
    50: #5a6066,
    60: #73787d,
    70: #8e9397,
    80: #b1b5b8,
    90: #dcdcdf,
    95: #efefef,
    98: #fbfbfb,
    99: #fefefe,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #0b0d0d,
    20: #161818,
    25: #1f2121,
    30: #2b2c2c,
    35: #353636,
    40: #404141,
    50: #5a5b5b,
    60: #757676,
    70: #909191,
    80: #b7b8b8,
    90: #dfe0e0,
    95: #eff0f0,
    98: #f7f8f8,
    99: #fbfbfb,
    100: #ffffff,
    4: #040505,
    6: #070808,
    12: #0f1111,
    17: #141616,
    22: #1a1c1c,
    24: #1c1e1e,
    87: #d7d8d8,
    92: #e6e7e7,
    94: #ececec,
    96: #f3f4f4,
  ),
  neutral-variant: (
    0: #000000,
    10: #0c0f10,
    20: #171a1b,
    25: #1f2223,
    30: #2a2d2e,
    35: #343738,
    40: #3f4243,
    50: #5a5d5e,
    60: #78807f,
    70: #949b9a,
    80: #bfc6c4,
    90: #dee5e3,
    95: #eef5f3,
    98: #f7fbfa,
    99: #fbfefe,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ff6161,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_dark-palettes: (
  primary: (
    0: #000000,
    10: #0f0b05,   // deep near-black for dark mode
    20: #241706,
    25: #3a2408,
    30: #523507,
    35: #6a4806,
    40: #825a06,
    50: #9d6f0e,
    60: #b8871e,
    70: #d09f2f,
    80: #e8bd4f,
    90: #f6d98a,
    95: #fff0c9,
    98: #fff9ef,
    99: #fffdf7,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #0b0b0c,
    20: #1b1b1c,
    25: #2a2a2b,
    30: #383839,
    35: #4a4a4b,
    40: #5b5b5c,
    50: #737373,
    60: #8b8b8c,
    70: #a3a3a4,
    80: #bdbdbd,
    90: #d6d6d6,
    95: #ededed,
    98: #f8f8f8,
    99: #fefefe,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #0b0b0d,
    20: #1a1a1d,
    25: #2a2a2e,
    30: #38383d,
    35: #4a4a4f,
    40: #5b5b61,
    50: #73737a,
    60: #8b8b93,
    70: #a3a3ab,
    80: #c2c2ca,
    90: #e0e0e7,
    95: #efeff4,
    98: #f9f9fb,
    99: #fefeff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #0b0b0b,
    20: #1a1a1a,
    25: #262626,
    30: #333333,
    35: #444444,
    40: #555555,
    50: #6e6e6e,
    60: #8b8b8b,
    70: #a8a8a8,
    80: #c3c3c3,
    90: #e0e0e0,
    95: #f0f0f0,
    98: #fbfbfb,
    99: #fefefe,
    100: #ffffff,
  ),
  neutral-variant: (
    0: #000000,
    10: #0b0b0c,
    20: #1a1a1c,
    25: #232325,
    30: #303032,
    35: #3c3c3e,
    40: #4a4a4c,
    50: #666668,
    60: #828284,
    70: #9f9f9f,
    80: #bdbdbf,
    90: #dbdbdd,
    95: #efeff0,
    98: #fbfbfc,
    99: #fefeff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #1a0f0f,
    20: #331818,
    25: #411f1f,
    30: #562727,
    35: #6b2f2f,
    40: #8b3f3f,
    50: #b04b4b,
    60: #d05f5f,
    70: #eb7b7b,
    80: #f6b1b1,
    90: #ffdede,
    95: #fff0f0,
    98: #fff9f9,
    99: #fffefe,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_light-palettes, secondary),
  neutral: map.get($_light-palettes, neutral),
  neutral-variant: map.get($_light-palettes,  neutral-variant),
  error: map.get($_light-palettes, error),
);

$_light-primary: map.merge(map.get($_light-palettes, primary), $_rest);
$_light-tertiary: map.merge(map.get($_light-palettes, tertiary), $_rest);
$custom-background-color: #f9f6f2;

$_dark-primary: map.merge(map.get($_dark-palettes, primary), $_rest);
$_dark-tertiary: map.merge(map.get($_dark-palettes, tertiary), $_rest);


$light-theme: mat.define-theme((
  color: (
    primary: $_light-primary,
    tertiary: $_light-tertiary,
  ),
  typography: (
    plain-family: 'Playfair',
    bold-weight: 900,
  ),
  density: (
    scale: -3,
  ),
));

$dark-theme: mat.define-theme((
  color: (
    primary: $_dark-primary,
    tertiary: $_dark-tertiary,
  ),
  typography: (
    plain-family: 'Playfair',
    bold-weight: 900,
  ),
  density: (
    scale: -3,
  ),
));
