@use 'sass:map';
@use '@angular/material' as mat;

$_light-palettes: (
  primary: (
    0: #000000,
    10: #ffebee,  
    20: #ffcdd2,
    25: #f8bbd0,
    30: #f49fb9,
    35: #f082a3,
    40: #ec668d,
    50: #e91e63,   
    60: #ec407a,
    70: #f06292,
    80: #f48fb1,
    90: #f8bbd0,
    95: #fce4ec,
    98: #fceaeb,
    99: #fdf2f5,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #ffffff,
    20: #ffffff,
    25: #ffffff,
    30: #ffffff,
    35: #ffffff,
    40: #ffffff,
    50: #ffffff,
    60: #ffffff,
    70: #ffffff,
    80: #ffffff,
    90: #ffffff,
    95: #ffffff,
    98: #ffffff,
    99: #ffffff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #ffffff,
    20: #ffffff,
    25: #ffffff,
    30: #ffffff,
    35: #ffffff,
    40: #ffffff,
    50: #ffffff,
    60: #ffffff,
    70: #ffffff,
    80: #ffffff,
    90: #ffffff,
    95: #ffffff,
    98: #ffffff,
    99: #ffffff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #ffffff,
    20: #ffffff,
    25: #ffffff,
    30: #ffffff,
    35: #ffffff,
    40: #ffffff,
    50: #ffffff,
    60: #ffffff,
    70: #ffffff,
    80: #ffffff,
    90: #ffffff,
    95: #ffffff,
    98: #ffffff,
    99: #ffffff,
    100: #ffffff,
    4: #ffffff,
    6: #ffffff,
    12: #ffffff,
    17: #ffffff,
    22: #ffffff,
    24: #ffffff,
    87: #ffffff,
    92: #ffffff,
    94: #ffffff,
    96: #ffffff,
  ),
  neutral-variant: (
    0: #000000,
    10: #ffffff,
    20: #ffffff,
    25: #ffffff,
    30: #ffffff,
    35: #ffffff,
    40: #ffffff,
    50: #ffffff,
    60: #ffffff,
    70: #ffffff,
    80: #ffffff,
    90: #ffffff,
    95: #ffffff,
    98: #ffffff,
    99: #ffffff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #ffebee,
    20: #ffcdd2,
    25: #f8bbd0,
    30: #f49fb9,
    35: #f082a3,
    40: #ec668d,
    50: #e91e63,
    60: #ec407a,
    70: #f06292,
    80: #f48fb1,
    90: #f8bbd0,
    95: #fce4ec,
    98: #fceaeb,
    99: #fdf2f5,
    100: #ffffff,
  ),
);

$_dark-palettes: (
  primary: (
    0: #000000,
    10: #fceaeb, 
    20: #f8bbd0,
    25: #f49fb9,
    30: #f082a3,
    35: #ec668d,
    40: #e91e63,
    50: #ec407a,
    60: #f06292,
    70: #f48fb1,
    80: #f8bbd0,
    90: #fce4ec,
    95: #fdf2f5,
    98: #fdf2f5,
    99: #fdf2f5,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #1a1a1a,
    20: #2a2a2a,
    25: #333333,
    30: #3d3d3d,
    35: #484848,
    40: #555555,
    50: #707070,
    60: #8c8c8c,
    70: #a8a8a8,
    80: #c3c3c3,
    90: #e0e0e0,
    95: #f0f0f0,
    98: #fbfbfb,
    99: #fefefe,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #1a1a1a,
    20: #2a2a2a,
    25: #333333,
    30: #3d3d3d,
    35: #484848,
    40: #555555,
    50: #707070,
    60: #8c8c8c,
    70: #a8a8a8,
    80: #c3c3c3,
    90: #e0e0e0,
    95: #f0f0f0,
    98: #fbfbfb,
    99: #fefeff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1a1a1a,
    20: #2a2a2a,
    25: #333333,
    30: #3d3d3d,
    35: #484848,
    40: #555555,
    50: #707070,
    60: #8c8c8c,
    70: #a8a8a8,
    80: #c3c3c3,
    90: #e0e0e0,
    95: #f0f0f0,
    98: #fbfbfb,
    99: #fefefe,
    100: #ffffff,
  ),
  neutral-variant: (
    0: #000000,
    10: #1a1a1a,
    20: #2a2a2a,
    25: #333333,
    30: #3d3d3d,
    35: #484848,
    40: #555555,
    50: #707070,
    60: #8c8c8c,
    70: #a8a8a8,
    80: #c3c3c3,
    90: #e0e0e0,
    95: #f0f0f0,
    98: #fbfbfc,
    99: #fefeff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #fceaeb,
    20: #f8bbd0,
    25: #f49fb9,
    30: #f082a3,
    35: #ec668d,
    40: #e91e63,
    50: #ec407a,
    60: #f06292,
    70: #f48fb1,
    80: #f8bbd0,
    90: #fce4ec,
    95: #fdf2f5,
    98: #fdf2f5,
    99: #fdf2f5,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_light-palettes, secondary),
  neutral: map.get($_light-palettes, neutral),
  neutral-variant: map.get($_light-palettes,  neutral-variant),
  error: map.get($_light-palettes, error),
);

$_light-primary: map.merge(map.get($_light-palettes, primary), $_rest);
$_light-tertiary: map.merge(map.get($_light-palettes, tertiary), $_rest);
$custom-background-color: #fdf2f5;  

$_dark-primary: map.merge(map.get($_dark-palettes, primary), $_rest);
$_dark-tertiary: map.merge(map.get($_dark-palettes, tertiary), $_rest);


$light-theme: mat.define-theme((
  color: (
    primary: $_light-primary,
    tertiary: $_light-tertiary,
  ),
  typography: (
    plain-family: 'Playfair',
    bold-weight: 900,
  ),
  density: (
    scale: -3,
  ),
));

$dark-theme: mat.define-theme((
  color: (
    primary: $_dark-primary,
    tertiary: $_dark-tertiary,
  ),
  typography: (
    plain-family: 'Playfair',
    bold-weight: 900,
  ),
  density: (
    scale: -3,
  ),
));